---
import Layout from "../layouts/Main.astro";
import Link from "../components/ui/Link.astro";
import Role from "../components/ui/Role.astro";
import Project from "../components/Project.astro";
import RedoitPojectImage from "../assets/images/redoit-project/redoit-ss-01.png";
import Wave from "../components/icons/Wave.astro";
import Sparkles from "../components/icons/Sparkles.astro";
import Mail from "../components/icons/Mail.astro";
import ProjectStars from "../components/ProjectStars.astro";

const projectData = [
  {
    title: "Redoit",
    description: `A habit tracking app that helps you reach your goals by tracking your progress as you build new habits or quit old ones`,
    image: RedoitPojectImage,
    url: "/project/redoit",
    openInNewTab: false,
    year: 2024,
  },
] as const;
---

<Layout>
  <div class="my-5">
    <div class="my-5">
      <h1 class="flex gap-2 text-xl font-medium tracking-wide">
        Hi! I'm lmssieh
        <div class="h-5 w-5">
          <Wave />
        </div>
      </h1>
      <p class="py-1">
        creative developer/designer who loves to craft intuitive and visually
        appealing solutions that captivate users.
      </p>
      <p>Mainly Working with the following technologies</p>
    </div>
    <div class="flex gap-2 my-4">
      {
        ["Typescript", "React", "Vue", "NextJS"].map((text) => (
          <Role color={text.toLowerCase()}>{text}</Role>
        ))
      }
    </div>
  </div>

  <div class="my-10">
    <h2 class="text-xl font-medium pb-4 flex gap-2 items-center font-discord">
      <div class="h-5 w-5">
        <Sparkles />
      </div>
      Featured Work
    </h2>
    <div class="relative">
      <ProjectStars />

      <div class="flex flex-col gap-4">
        {projectData.map((projectInfo) => <Project data={projectInfo} />)}
      </div>
    </div>
  </div>

  <div class="my-5">
    <h2 class="font-medium font-discord flex gap-2 items-center text-xl mb-2">
      <span class="h-5 w-5">
        <Mail />
      </span>
      Get in touch!
    </h2>
    <div class="flex items-center gap-1">
      email me at lmssieh[at]proton[dot]com
    </div>
  </div>
  <!-- <p class="mt-4 mb-1.5">or find me at:</p> -->
  <div class="grid grid-cols-2 gap-2.5">
    {
      Array(
        { name: "Github", url: "https://github.com/lmssiehdev" },
        { name: "Twitter", url: "https://twitter.com/lmssiehdev" }
      ).map(({ name, url }) => (
        <Link target="_blank" href={url}>
          {name}
        </Link>
      ))
    }
  </div>
</Layout>
